{% load static %}
<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start p-3 px-5"
  style="background-color: #b40001;">
  <a class="d-flex align-items-center" href="{% url 'library_app:index' %}"><img
      src="/static/images/icons8-marvel-50.png" class="" alt="" style="height: 3rem;"></a>
  <ul class="nav col-12 col-lg-auto me-lg-auto justify-content-center">
  </ul>
  <form class="col-12 col-lg-auto me-lg-3 mb-3 mb-lg-0" action="{% url 'library_app:search_query' %}" method="POST">
    <input class="form-control form-control-dark" name="search-query" id="search-query" type="text"
      placeholder="Search..." aria-label="Search" style="font-style: italic;">
    {% csrf_token %}
  </form>
  {% if request.user.is_authenticated %}
  <div class="text-end h-auto">
    <button class="btn me-2 btn-warning"><a class="text-decoration-none text-dark"
        href="{% url 'users_app:logout' %}">Logout</a></button>
    <a class="text-decoration-none text-dark" href="{% url 'users_app:profile' user.username %}"> <img
        src="/static/images/icons8-shopping-cart-30.png" alt=""></a>
  </div>
  {% endif %}
  {% if not request.user.is_authenticated %}
  <div class="text-end">
    <button class="btn btn-outline-light me-2"><a class="text-decoration-none text-dark"
        href="{% url 'users_app:login' %}">Login</a></button>
    <button class="btn btn-warning"><a class="text-decoration-none text-dark"
        href="{% url 'users_app:register' %}">Register</a></button>
  </div>
  {% endif %}
</div>
<div class="row justify-content-end text-center">
  <div class="col-4">
    <div class="dropdown mr-5">
      <button class="btn shadow-none" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        <img src="/static/images/icons8-slider-48.png" alt="">
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="{% url 'library_app:characters' %}">Characters</a></li>
        <li><a class="dropdown-item" href="{% url 'library_app:index' %}">Comics</a></li>
      </ul>
    </div>
  </div>
</div>