@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}
.detail_container img {
  width: 300px;
  height: auto;
  display: block; 
  margin-left: auto;
  margin-right: auto;
}


.link_container img{
  width: 200px;
  height: auto;
  /* display: block; */
  /* margin-left: auto;
  margin-right: auto; */
  object-fit: contain;
}

.img_hover{
  /* position: relative;
  top: 0; */
  transition:ease 0.5s;
  
}
.img_hover:hover {
  /* top: -10px; */
  opacity: .7;
}

.related_chars img{
  width: 90px;
  height: 90px;
  object-fit: contain;
}

.book_title{
  font-size: .8rem;
}

