@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}


/* .card:hover{
   transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
} */


.detail_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 300px;
    object-fit: contain;

}

.img_hover{
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  height: 100%;
  width: 100%;
}
.img_hover:hover {
  top: -10px;
}

.book_title{
  font-size: .9rem;
}


.carousel-item img{
  object-fit: contain;
  width: 50px;
  height: 100px;
}

/* .index_page {
  
} */

