@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
* {
  font-family: 'Roboto Condensed', sans-serif;
}

/* comic book details */
.detail {
  position: relative;
  width: 50%;
}

.detail_image {
  display: block;
  height: 100;
  width: 100%;
  min-width: 100px
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 150;
  transition: .5s ease;
  backface-visibility: hidden;
}


.detail:hover .image {
  opacity: 0.3;
}

.detail:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}

/* navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 1px solid transparent;
}

.navbar a:hover {
  border-bottom: 1px solid white;
}

.navbar a.active {
  border-bottom: 1px solid white;
}

form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}


.character_container img{
  width: 400px;
  height: 90px;
}

.detail_container img {
  width: 300px;
  height: auto;
  display: block; 
  margin-left: auto;
  margin-right: auto;
}
.search_container img {
  width: 150px;
}

.link_container img{
  width: 140px;
  height: auto;
  object-fit: contain;
}

.img_hover{
  transition:ease 0.5s;
}
.img_hover:hover {
  opacity: .7;
}

.related_chars img{
  width: 90px;
  height: 100px;
  object-fit: contain;
}

.book_title{
  font-size: .9rem;
}

.hover_container {
  transition:ease 0.5s;
}

.hover_container:hover {
  color: blue;
}

.pagination a{
  color: #2196f3;
}

.fa-heart:hover{
  cursor: pointer;
}

.hero {
  width: 100%;
  max-height: 43vh;
  /* height: auto; */
  object-fit: cover;
}

#log_button, #id_password, #id_username{
  border-radius: 0%;
}

