@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
* {
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
}

/* for position element in image */
/* .bottomleft {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 18px;
} */

/* comic book details */
.detail {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.detail:hover .image {
  opacity: 0.3;
}

.detail:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}

/* navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 1px solid transparent;
}

.navbar a:hover {
  border-bottom: 1px solid white;
}

.navbar a.active {
  border-bottom: 1px solid white;
}

form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}

/* Clear floats */
/* form.search::after {

} */



.character_container img{
  width: 400px;
  height: 90px;
}

.detail_container img {
  width: 300px;
  height: auto;
  display: block; 
  margin-left: auto;
  margin-right: auto;
}
.search_container img {
  width: 150px;
}

.link_container img{
  width: 140px;
  height: auto;
  object-fit: contain;
}

.img_hover{
  transition:ease 0.5s;
}
.img_hover:hover {
  opacity: .7;
}

.related_chars img{
  width: 120px;
  height: 90px;
  object-fit: contain;
}

.book_title{
  font-size: .9rem;
}

.hover_container {
  transition:ease 0.5s;
}

.hover_container:hover {
  color: blue;
}

.pagination a{
  color: black;
}

.fa-heart:hover{
  cursor: pointer;
}

