{% extends 'base.html' %} {% block content %}

<form action="{% url 'users_app:login' %}" method="POST"
  class="d-flex flex-column align-items-center justify-content-center" style="height: 75vh;">
  <h1 class="text-center">Log in</h1>
  <fieldset>
    <label for="id_username"></label>
    {{form.username}}
  </fieldset>
  <fieldset>
    <label for="id_password"></label>
    {{form.password}}
  </fieldset>
  {% csrf_token %}
  <button type="submit" class="btn btn-danger mt-4">Log in</button>
</form>
{% endblock content %}