{% extends 'base.html' %} {% block content %}
<h1 class="text-center">Log in</h1>

<form
  action="{% url 'users_app:login' %}"
  method="POST"
  class="d-flex flex-column align-items-center gap-3"
>
  <fieldset>
    <label for="id_username">{{form.user.label}}</label>
    {{form.username}}
  </fieldset>
  <fieldset>
    <label for="id_username">{{form.password.label}}</label>
    {{form.password}}
  </fieldset>

  {% csrf_token %}

  <button type="submit" class="btn btn-primary rounded-0">Log in</button>
</form>
{% endblock content %}
