{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
  <div class="row pt-4">
    <div class="col-6">
      <h4>Comic book</h4>
    </div>
    <div class="col-4">
      <h4>quantity</h4>
    </div>
  </div>
  {% for checkout_item in user.checkout.checkout_items.all %}
  <div class="row">
    <div class="col-6 align-items-center pt-4">
      <h4 class="m-0 flex-column flex-md-row fs-6">
        <img
          src="{{checkout_item.book.image_url}}"
          alt="{{checkout_item.book.id}}"
          class=""
          width="100"
          height="auto"
        />
        {{checkout_item.book.title}}
      </h4>
      <div class="col-4 d-flex align-items-center">
      <a href="{% url 'library_app:remove_from_cart' checkout_item.id %}">
        <i class="far fa-solid fa-x text-danger pt-1"></i>
      </a>
    </div>
    <hr/>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
