{% extends 'base.html' %}{% load static %} {% block content %}
{% include 'partials/indexes.html' %}
<div class="container-fluid vh-100">
  <div class="row pt-5 text-center  px-5 mx-3">
    {% for char in products_page %}
    <div class="col-lg-2 col-md-4 pt-2 hover_container">
      <a
        href="{% url 'library_app:character' char.id %}"
        class="link_container"
      >
      
        <img
          src="{{char.image}}"
          class="img_hover"
          title="{{char.name}}"
          alt="..."
      /></a>
      <a
        class="text-decoration-none"
        href="{% url 'library_app:character' char.id %}"
        ><h5 class="text-dark book_title mt-2">{{char.name}}</h5></a
      >
    </div>
    {% endfor %}
  </div>
</div>
{% include 'partials/paginator.html' %}
{% endblock content %}
