{% extends 'base.html' %}{% load static %}{% block content %}

<div class="container-fluid min-vh-100">
  <h1 class="text-primary text-center py-4">{{character.name}}</h1>
  <div class="row justify-content-center mt-5">
    <div class="col-4 text-center">
      <img src="{{character.image}}" class="img-fluid" alt="..." />
    </div>
  </div>
  {% if character.description %}
  <div class="row pt-5 justify-content-center">
    <h3 class="text-center">BIO</h3>
    <div class="col-4">
      <p class="">{{character.description}}</p>
    </div>
  </div>
  {% endif %}
  {% if character.books.all %}
  <h4 class="text-primary text-center mt-4">More {{character.name}}</h4>
  <div class="row row-cols-1 row-cols-md-3 text-center pt-3">
    {% for book in character.books.all %}
    <div class="col">
      <a href="{% url 'library_app:detail' book.id %}" class="text-decoration-none related_chars"><img
          src="{{book.image_url}}" class="" alt="" style="width: 10rem;" />
        <h5 class="fs-6">{{book.title}}</h5>
      </a>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock content %}