{% extends 'base.html' %}
{% block content %}
    <div class="detail_page">
         <!-- <div class="card m-2" style="width: 18rem; width: 10rem"> -->
    <!-- <div class="card-body ">
      <h5 class="card-title">{{book.title}}</h5>
      <p class="card-text">{{book.description|truncatewords:30}}</p>
    </div>
    <div class="card-footer bg-secondary d-flex justify-content-end">
      <a href="{% url 'library_app:add_to_cart' book.id %}" class="link-light h4 my-auto">
        <i class="fas fa-cart-plus"></i> -->
        <!-- </div> -->
    </div>
{% endblock content %}