<!-- add js so when you click on comicbook cover you will get carousel that shows characters in the comic -->
<!-- add like and cart superimposed on the image -->
{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-fluid">
  <div class="row justify-content-center pt-5">
    <div class="col-3 detail_container justify-content-center">
      <div class="polaroid">
      <img src="{{books.image_url}}" style="width: 100%;" class="img-fluid" alt="..." />
      <div class="d-flex justify-content-between align-items-center">
        <a href="{% url 'library_app:add_to_cart' books.id %}" class=""
          ><div class="container polaroid_footer "><i class="fas fa-cart-plus"></i
        ></a>
        <span id="like-count-{{books.id}}">{{ pic.likes.all.count }}</span>
        {% if request.user in books.likes.all %}
        <i
          class="fas fa-heart my-auto text-danger like m-2"
          id="like-{{books.id}}"
        ></i>
        {% else %}
        <i class="far fa-heart my-auto like m-2" id="like-{{books.id}}"></i>
        {% endif %}
      </div>
      </div>
    </div>
    </div>
    <div class="col-6">
      <h3 class="">{{books.title}}</h3>
      {% for author in books.authors.all %} {{author.role}}: {{ author }}
      <br />{% endfor %}
      <p class="">{{books.description|truncatewords:30}}</p>
      <h3>{{books.date}}</h3>
    </div>
  </div>

  <div class="row text-center justify-content-center">
    <h3>Characters in this comic</h3>
    {% for character in books.characters.all %}
    <div class="col-lg-4 flex-sm-column">
      <a
        href="{% url 'library_app:character' character.id %}"
        class="text-decoration-none related_chars"
      >
        <img src="{{character.image}}" alt="" />
        <h1 class="fs-6 d-block">{{character.name}}</h1></a
      >
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
