{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-fluid min-vh-100 m-0 p-0">
  <div class="row justify-content-center pt-5">
    <div class="col-3 justify-content-center">

      <div class="container  m-0 p-0">
        <img src="{{books.image_url}}" class="detail_image" alt="..." />
        {% if request.user.is_authenticated %}
        <div class="">
          <span id="like-count-{{books.id}}" class="fs-4 text-center">Likes: {{ books.likes.all.count }}
          </span>
        </div>
        <div class="text d-flex justify-content-center text-center my-auto">
          <a href="{% url 'library_app:add_to_cart' books.id %}" class=""><i
              class="fas fa-solid fa-cart-arrow-down mx-2 fa-2x"></i></a>
          {% if request.user in books.likes.all %}
          <i class="fas fa-solid fa-heart fa-beat mx-2 fa-2x text-danger like" id="like-{{books.id}}"></i>
          {% else %}
          <i class="fas fa-solid fa-heart fa-beat mx-2 fa-2x like text-primary" id="like-{{books.id}}"></i>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-lg-6 col-md-3">
      <h3 class="">{{books.title}}</h3>
      <div class="d-none d-lg-block">
        {% for author in books.authors.all %} {{author.role}}: {{ author }}
        <br />
        {% endfor %}
      </div>
      <p class="">Description: {{books.description|truncatewords:30}}</p>
      <h3 class="align-items-end">{{books.date}}</h3>
    </div>
  </div>
  <h3 class="text-danger pb-4 border-top text-center fs-1">Characters in this comic</h3>
  <div class="row text-center row-cols-1 row-cols-md-3 justify-content-center">
    {% if books.characters.all %}

    {% for character in books.characters.all %}
    <div class="col mb-5 link_container">
      <a href="{% url 'library_app:character' character.id %}"><img src="{{character.image}}" class="" alt="..." /></a>
      <h5 class="">{{character.name}}</h5>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock content %}