{% extends 'base.html' %} {% load static %} {% block content %}
{% include 'partials/indexes.html' %}
<div class="container">
  {% if messages %} 
  <div class="row text-center justify-content-center pt-4">
    <div class="col-4 lg-offset-4">
      {% for message in messages %} 
      <div class="alert alert-primary" role="alert">
        {{message}}
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-12">
      <h1>{{newest_comics.title}}</h1>
    </div>
  </div>
  <div class="row pt-5 text-center">
    {% for book in products_page %}
    <div class="col-lg-2 col-md-4  mx-auto m-0 p-0 g-1 pt-2">
      <a href="{% url 'library_app:detail' book.id %}" class="link_container">
        <img
          src="{{book.image_url}}"
          class="img_hover "
          title="{{book.title}}"
          alt="..."
      /></a>
      <a
        class="text-decoration-none"
        href="{% url 'library_app:detail' book.id %}"
        ><h5 class="text-dark book_title mt-2">{{book.title}}</h5></a
      >
    </div>
    {% endfor %}
  </div>
  {% include 'partials/paginator.html' %}

  {% include 'partials/footer.html' %}

{% endblock content %}
