{% extends 'base.html' %} {% load static %} {% block content %} 
<div class="container">
  <div class="row text-center">
    <div class="col-12">
{% if error %}
{{error}} {% endif %}

{% if late_message %}
  {{late_message}}
{% endif %}
</div>
</div>
<div class="row pt-5">
  {% for book in books %}
  <div class="col-lg-2 col-md-4 pt-2">
          <a href="{% url 'library_app:detail' book.id %}" class="p-0 m-0">
            <img src="{{book.image_url}}" class="img_hover link_container" title="{{book.title}}" alt="..."></a>
          <a class="text-decoration-none" href="{% url 'library_app:detail' book.id %}"><h5 class="text-dark book_title text-center mt-2">{{book.title}}</h5></a>
        </div>
          {% endfor %}
      </div>
    </div>
{% endblock content %}
