{% extends 'base.html' %} {% load static %} {% block content %}
<div class="row justify-content-end text-center">
  <div class="col-4">
    <div class="dropdown mr-5">
      <button class="btn shadow-none" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        <img src="/static/images/icons8-slider-48.png" alt="">
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="{% url 'library_app:characters' %}">Characters</a></li>
        <li><a class="dropdown-item" href="{% url 'library_app:index' %}">Comics</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid min-vh-100 p-0 m-0">
  {% if messages %}
  <div class="row text-center justify-content-center pt-4">
    <div class="col-4 lg-offset-4">
      {% for message in messages %}
      <div class="alert alert-primary" role="alert">
        {{message}}
      </div>
      {% endfor %}
    </div>

    {% endif %}

    <div class="row text-center m-5 justify-content-center">
      {% for book in products_page %}
      <div class="col m-4">
        <a href="{% url 'library_app:detail' book.id %}" class="link_container">
          <img src="{{book.image_url}}" class="img_hover" style="width: 19rem;" title="{{book.title}}" alt="..." /></a>
        <a class="text-decoration-none" href="{% url 'library_app:detail' book.id %}">
          <h5 class="text-dark book_title mt-2">{{book.title}}</h5>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% include 'partials/paginator.html' %}

{% endblock content %}